@import '../../libraries/slick/slick-theme.scss';
@import 'modules/generics';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/carousel';
@import 'modules/featured_products';
@import 'modules/archive_product';
@import 'modules/single_product';
@import 'modules/contact';
@import 'modules/cart-preview';
@import 'modules/cart';
@import 'modules/checkout';
@import 'modules/messages';
@import 'modules/account';
@import 'modules/about';
@import 'modules/lost-password';
@import 'modules/login';
