.woocommerce-MyAccount-navigation {
	.list-group {
		display: flow-root;
		padding: $spacing 0 $spacing * 2;
		.list-group-item {
			display: block;
			float: left;
			border: 1px solid transparent;
			border-radius: 0;
			margin: 1%;
			padding: $spacing;
			width: 48%;

			color: $white;
			font-size: 1em;
			text-align: center;

			background-color: $grey;
			transition: transform .3s ease-in-out;
			transform: scale(1);
			&:hover {
				transition: all .3s ease-in-out;
				background-color: $white;
				color: $grey;
				border: 1px solid $grey;
				transform: scale(1.05);
			}
		}
	}
}
.woocommerce-MyAccount-content {
	padding: $spacing;
}

.woocommerce {
	.woocommerce-Address-title {
		h3 {
			font-size: 1.25em;
			font-weight: lighter;
		}
	}
	.woocommerce-EditAccountForm {
		color: $grey;
		legend {
			padding: $spacing 0 0;
		}
		em {
			display: block;
			padding: $spacing 0;
			font-size: .8em;
		}
		.form-row {
			.required {
				color: $gold;
			}
		}
		.btn {
			border: none;
			border-radius: 0;
			height: $spacing * 3;
			margin: $spacing 0;
			width: 100%;

			color: $white;
			font-size: 1em;

			background-color: $grey;
		}
	}
	form {
		.woocommerce-address-fields__field-wrapper {
			.form-row {
				width: 100%;
				.required {
					color: $gold;
				}
				.woocommerce-input-wrapper {
					width: 100%;
				}
				label, .input-text {
					width: 100%;
				}
				.select2-selection {
					min-height: 38px;
				}
				.select2-selection__clear {
					display: none;
				}
				.select2-selection__rendered {
					min-height: 38px;
					padding: .25em .5em;

					color: $grey;
					font-weight: lighter;
				}
			}
		}
		.btn[name="save_address"] {
			border: none;
			border-radius: 0;
			height: $spacing * 3;
			margin: $spacing 0;
			width: 100%;

			color: $white;
			font-size: 1em;

			background-color: $grey;
		}
	}
}

@include media-breakpoint-up(md) {
	.woocommerce-MyAccount-navigation {
		.list-group {
			display: flow-root;
			.list-group-item {
				float: none;
				width: 100%;
			}
		}
	}
}