.woocommerce-result-count {
	display: none;
}

.woocommerce {
	ul.products {
		padding: $spacing;
		li.product {
			float: none;
			min-width: 100%;

			border-bottom: 1px solid $lightgrey;
			padding-bottom: $spacing * 2;
		
			transition: transform .25s ease-in-out;
			transform: scale(1);
			&:hover {
				transition: all .25s ease-in-out;
				transform: scale(1.025);
			}
			&:last-of-type {
				border-bottom: none;
				padding-bottom: 0;
			}
			.onsale {
				left: $spacing;
				top: $spacing;
				right: auto;
				margin: 0;
				min-height: auto;
				padding: 0 $spacing;

				border-radius: 0;

				font-size: .9em;
				font-weight: 300;
				line-height: 2em;

				background-color: $tag;
			}
			.woocommerce-loop-product__title {
				color: $grey;
				font-size: 1.25em;
			}
			.price {
				.woocommerce-Price-amount {
					color: $grey;
					font-size: 1.1em;
					font-weight: 300;
				}
			}
			.add-to-cart-container {
				display: none;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.woocommerce {
		ul.products {
			display: flex;
			flex-wrap: wrap;
			li.product {
				border-bottom: none;
				margin: 0;
				min-width: 50%;
				padding: $spacing;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.woocommerce {
		ul.products {
			li.product {
				min-width: 25%;
				.woocommerce-loop-product__title {
					font-size: 1em;
				}
				.price {
					.woocommerce-Price-amount {
						font-size: 1em;
					}
				}
			}
		}
	}
}
