.woocommerce-result-count {
	display: none;
}

.woocommerce {
	ul.products {
		padding: $spacing;
		li.product {
			float: none;
			min-width: 100%;
			&:hover {
				opacity: 0.9;
			}
			.woocommerce-loop-product__title {
				color: $grey;
				font-size: 1.2em;
				font-weight: normal;
			}
			.price {
				.woocommerce-Price-amount {
					color: $grey;
					font-size: 1.2em;
					font-weight: 300;
				}
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.woocommerce {
		ul.products {
			display: flex;
			flex-wrap: wrap;
			li.product {
				margin: 0;
				min-width: 50%;
				padding: $spacing;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.woocommerce {
		ul.products {
			li.product {
				min-width: 25%;
				.woocommerce-loop-product__title {
					font-size: 1em;
				}
				.price {
					.woocommerce-Price-amount {
						font-size: 1em;
					}
				}
			}
		}
	}
}
