.carousel-slick-item {
	position: relative;
	height: 500px;
	padding: $spacing;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	&.header {
		.carousel-item__overlay {
			background-color: transparent;
			color: $white;
		}
	}
	@at-root #{&}__overlay {
		margin: 5em auto 0;
		max-width: 250px;
		padding: $spacing / 2;

		background-color: rgba(255, 255 , 255, 0.9);

		text-align: center;
	}
	@at-root #{&}__header {
		margin: $spacing 0;

		font-size: 2em;
		font-weight: 300;
		font-family: 'Source Sans Pro', sans-serif;
		.carousel-slick-item__header--styled {
			display: block;
			font-family: 'Marck Script', cursive;
			font-size: 1.5em;
			text-align: center;
		}
	}
}

@include media-breakpoint-up(sm) {
	.carousel-slick-item {
		@at-root #{&}__tag {
			position: absolute;
			bottom: $spacing;
			right: -1.25em;
			z-index: 100;

			padding: $spacing;

			transform: rotate(-90deg);

			background-color: $checkout_pink;
			opacity: 0.95;

			font-size: 2em;
			letter-spacing: .4em;
			text-align: center;
			text-transform: uppercase;

			&:hover {
				transition: all .5s ease-in-out;
				background-color: $checkout_pink;
				color: $white;
				opacity: 1;
			}
		}
	}
}