.cart-preview {
	position: fixed;
	top: 0;
	right: 0;

	height: 100vh;
	width: 100vw;

	background-color: rgba(0, 0, 0, 0.6);

	@at-root #{&}__content {
		position: relative;
		float: right;
		max-width: 500px;
		min-width: 300px;
		height: 100vh;
		width: 25vw;

		overflow: hidden;

		background-color: $white;	
	}

	@at-root #{&}__heading {
		position: relative;
		background-color: $black;
		padding: $spacing;
	}
	@at-root #{&}__close {
		position: absolute;
		top: 1.25em;
		left: $spacing;

		color: $white;
	}
	@at-root #{&}__header {
		margin: 0;

		font-size: 1.5em;
		font-weight: lighter;
	}
	@at-root #{&}__footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;

		padding: $spacing;
	}
	@at-root #{&}__checkout {
		display: block;
		padding: $spacing;
		width: 100%;

		background-color: $add-cart;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			color: $white;
		}
	}

					
}