.cart-wrapper {
	padding-top: 0;
}
.cart-page {
	.cart__top, .cart__bottom {
		margin: 0;
	}
	.shop_table {
		width: 100%;
	}
	.cart__back {
		display: inline-block;
		margin: $spacing 0;
		.fa {
			font-size: 1em;
		}
	}
	.cart__btn {
		display: block;

		padding: $spacing / 4;

		background-color: $checkout_pink;
		border: none;
		border-radius: 0;

		color: $white;
		font-size: 1.25em;
		font-weight: lighter;
		text-align: center;
		.fa {
			font-size: .95em;
		}
		&:hover {
			background-color: $checkout_pink;
			color: $white;
		}
	}
	.cart__header {
		margin: 0;
		padding: $spacing * 2 0 0;
		color: $grey;
		font-size: 1em;
		font-weight: lighter;
	}
	.cart {
		width: 100%;
		tr:nth-child(2n) {
			td {
				background-color: transparent;
			}
		}
		.cart_item {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			border-top: 1px solid $lightgrey;
			margin: $spacing 0;
			padding: $spacing * 2 0;
			.product-name {
				color: $grey;
				font-size: .9em;
				font-weight: lighter;
				a {
					display: inline-block;
					padding-bottom: $spacing / 4;
				}
				a.remove {
					position: relative;
					top: -.4em;
					float: right;

					font-size: 1.5em;
				}
				&::before {
					content: '';
					display: none;
				}
			}	
			.product-item-sku {
				clear: both;
			}
			.product-thumbnail {
				display: block !important;
				width: 30%;
				a {
					display: block;
					img {
						display: block;
						border: 1px solid $lightgrey;
						max-width: 100px;
						width: 100%;
					}
				}
				&::before {
					display: none;
				}	
			}
			.product-quantity {
				padding-top: $spacing * 1.5;
				.quantity {
					.qty {
						padding-left: .5em;

						color: $grey;
						text-align: center;
					}
				}
			}
			.product-price {
				padding-top: $spacing * 1.5;

				color: $grey;
				text-align: right;
			}
		}
		.actions {
			.update-cart {
				margin-top: -.5em;
				margin-bottom: $spacing;
				.button {
					display: block;
					padding: $spacing / 4 0;
					width: 100%;

					font-size: 1.25em;
					font-weight: lighter;

					background-color: $grey;
					color: $white;
				}
			}
			.coupon {
				.coupon_code {
					display: block;
					border: 1px solid $lightgrey;
					height: $spacing * 3;
					border-right: none;
					margin-right: 0;
					padding: $spacing;
					min-width: 75%;
					&::placeholder {
						color: $lightgrey;
						font-size: .9em;
					}
				}
				.btn-apply {
					min-width: 25%;
				}
			}
			.btn-action {
				padding: $spacing 0;
				font-size: .9em;
				font-weight: lighter;
				.fa {
					font-size: 1em;
				}
			}
			.btn-apply {
				border: 1px solid $gold;
			}
			.special-note {
				border: 1px solid $lightgrey;
				height: 150px;
				padding: $spacing;
				width: 100%;
				font-size: .9em;
  				resize: none;
					&::placeholder {
					color: $lightgrey;
					font-weight: lighter;
				}
			}
		}
	}
	.cart-collaterals {
		padding: $spacing;
		font-size: .9em;
		.amount {
			float: right;
		}
	}
}

@include media-breakpoint-up(md) {
	.cart-page {
		.cart {
			.cart_item {
				justify-content: flex-start;
			}
		}
		.actions {
			display: flex;
			flex-wrap: wrap;
			margin-top: $spacing * 2;
			.update-cart {
				display: flow-root;
				width: 100%;
				.button {
					float: right;
					max-width: 200px;
				}
			}
		}
	}
}

