.cart-preview {
	&.slide-in {
		.cart-preview__overlay {
			background-color: $black;
			transition: opacity .5s ease-in-out;
			opacity: 0.6;
			transform: translateX(0vw);
		}
		.cart-preview__content {
			transition: transform .5s ease-in-out;
			transition-delay: .25s;
			transform: translateX(0vw);
		}
		.cart-preview__close {
			transition: transform .25s ease-in-out;
			transition-delay: .6s;
			transform: rotate(0deg);
		}
	}
	@at-root #{&}__overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		height: 100vh;
		width: 100vw;
		transform: translateX(-100vw);
		cursor: pointer;
		transition: opacity .5s ease-in-out;
		opacity: 0;
	}
	@at-root #{&}__content {
		position: fixed;
		top: 0;
		left: 75vw;
		z-index: 1001;
		max-width: 500px;
		min-width: 300px;
		height: 100vh;
		width: 25vw;

		overflow: scroll;

		box-shadow: 0px -1px 15px $grey;

		background-color: $white;	

		transition: transform .25s ease-in-out;
		transition-delay: .25s;
		transform: translateX(25vw);
	}

	@at-root #{&}__heading {
		position: relative;
		height: 68px;
		padding: $spacing;
		background-color: $black;
	}
	@at-root #{&}__close {
		position: absolute;
		top: 1.25em;
		left: $spacing;

		color: $white;
		transition: transform .25s ease-in-out;
		transition-delay: .25s;
		transform: rotate(180deg);
	}
	@at-root #{&}__header {
		margin: 0;

		font-size: 1.5em;
		font-weight: 300;
	}
	@at-root #{&}__footer {
		position: absolute;
		left: 0;
		bottom: 0;

		height: 56px;
		padding: $spacing;
		width: 100%;
	}
	@at-root #{&}__btn {
		position: relative;
		top: -2em;
		display: block;

		margin-left: 1em;
		padding: $spacing;
		width: calc(100% - 2em);

		background-color: $add-cart;
		color: $white;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		&:hover {
			background-color: $add-cart;
			color: $white;
		}
	}
	.woocommerce-mini-cart__buttons {
		display: none;
	}
	ul.woocommerce-mini-cart {
		padding: $spacing;
		@at-root #{&}__buttons {
			padding: $spacing * 2 $spacing $spacing;
			.button {
				display: none;
			}
		}
		@at-root #{&}__total {
			border-bottom: 1px solid $lightgrey;
			padding: $spacing * 2 $spacing;

			color: $black;
			strong {
				font-size: 1em;
				font-weight: 300;
			}
			.amount {
				display: block;	
				font-size: 1.5em;
				font-weight: 300;
			}
		}
		.mini_cart_item { 
			display: flow-root;

			border-bottom: 1px solid $lightgrey;
			padding: $spacing * 2 0;

			a {
				color: $grey;
				font-size: 1.25em;
				font-weight: 300;
			}
			.remove {
				display: none;
			}
			.size-woocommerce_thumbnail, .woocommerce-placeholder {
				float: left;
				margin-right: $spacing / 4;
				margin-right: $spacing;
				width: 100px;
			}
			.quantity {
				display: block;

				padding: $spacing / 4 0;

				color: $black;
			}
		}
	}

	.woocommerce {
		ul.woocommerce-mini-cart {
			padding: $spacing;
		}
	}
}

// Product pages overrides 
.woocommerce {
	ul.woocommerce-mini-cart {
		.mini_cart_item { 
			a {
				font-weight: 300;
			}
		}
	}	
}

