.cart-preview {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;

	height: 100vh;
	width: 100vw;

	background-color: rgba(0, 0, 0, 0.6);

	@at-root #{&}__content {
		position: relative;
		float: right;
		max-width: 500px;
		min-width: 300px;
		height: 100vh;
		width: 25vw;

		overflow: hidden;

		background-color: $white;	
	}

	@at-root #{&}__heading {
		position: relative;
		height: 68px;
		padding: $spacing;
		background-color: $black;
	}
	@at-root #{&}__close {
		position: absolute;
		top: 1.25em;
		left: $spacing;

		color: $white;
	}
	@at-root #{&}__header {
		margin: 0;

		font-size: 1.5em;
		font-weight: lighter;
	}
	@at-root #{&}__footer {
		position: absolute;
		left: 0;
		bottom: 0;

		height: 56px;
		padding: $spacing;
		width: 100%;
	}
}

.woocommerce-mini-cart {
	padding: $spacing;
	@at-root #{&}__buttons {
		padding: $spacing * 2 $spacing $spacing;
		.button:last-of-type {
			display: block;

			margin: 0;
			padding: $spacing;
			width: 100%;

			background-color: $add-cart;
			color: $white;
			font-weight: lighter;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				background-color: $add-cart;
				color: $white;
			}
		}
		.button:first-of-type {
			display: none;
		}
	}
	@at-root #{&}__total {
		border-bottom: 1px solid $lightgrey;
		padding: $spacing * 2 $spacing;

		color: $black;
		strong {
			font-size: 1.5em;
			font-weight: lighter;
		}
		.amount {
			display: block;
			font-size: 1.5em;
			font-weight: lighter;
		}
	}
	.mini_cart_item {
		display: flow-root;

		margin: $spacing 0;

		a {
			color: $grey;
			font-weight: lighter;
		}
		.remove {
			display: none;
		}
		.size-woocommerce_thumbnail {
			float: left;
			margin-right: $spacing / 4;
			width: 100px;
		}
		.quantity {
			display: block;

			padding: $spacing / 4 0;

			color: $black;
		}
	}
}

.woocommerce {
	ul.woocommerce-mini-cart {
		padding: $spacing;
	}
}