.cart-wrapper {
	padding-top: 0;
}
.cart-page {
	.shop_table {
		width: 100%;
		tbody {
			width: 100%;
		}
	}
	.cart__back {
		display: inline-block;
		margin: $spacing 0;
		.fa {
			font-size: 1em;
		}
	}
	.cart__btn {
		display: block;

		padding: $spacing / 4;

		background-color: $checkout_pink;
		border: none;
		border-radius: 0;

		color: $white;
		font-size: 1.25em;
		font-weight: lighter;
		text-align: center;
		.fa {
			font-size: .95em;
		}
		&:hover {
			background-color: $checkout_pink;
			color: $white;
		}
	}
	.cart__header {
		margin: 0;
		padding: $spacing * 2 0 0;
		color: $grey;
		font-size: 1em;
		font-weight: lighter;
	}
	table.cart {
		width: 100%;
		tr:nth-child(2n) {
			td {
				background-color: transparent;
			}
		}
		.cart_item {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			border-top: 1px solid $lightgrey;
			margin: $spacing 0;
			padding: $spacing 0;
			td[data-title] {
				color: $grey;
				font-size: .9em;
				font-weight: lighter;
				&::before {
					content: '';
					display: none;
				}
			}	
			.product-thumbnail {
				display: block !important;
				width: 30%;
				a {
					display: block;
					img {
						display: block;
						border: 1px solid $lightgrey;
						max-width: 100px;
						width: 100%;
					}
				}
				&::before {
					display: none;
				}	
			}
			.product-name {
				padding: $spacing / 2;
				width: 70%;
				a:first-of-type {
					float: left;

					color: $black;
					font-size: .9em;
					font-weight: lighter;
				}
				a:last-of-type {
					position: relative;
					top: -.5em;
					font-size: 1.5em;
					font-weight: normal;
				}
			}
			.product-quantity {
				padding: $spacing * 1.5 0 0;
				.quantity {
					.qty {
						padding-left: .5em;
						text-align: center;
					}
				}
			}
			.product-price {
				padding: $spacing * 1.5 0 0;
			}
		}
	}
}
