.checkout {
	.entry-title {
	    color: #5e5e5e;
	    font-size: 1.5em;
	    font-weight: lighter;
	}
	.woocommerce {
		.woocommerce-checkout {
			.form-row {
				float: none;

				padding: 0;
				width: 100%;
				label {
					display: block;
					width: 100%;

				    padding: $spacing 0 0;
				    color: $grey;
				    font-size: 1em;
				    font-weight: lighter;
				}
				.input-text {
					margin: $spacing / 2 0;
					padding: $spacing / 2;

					font-weight: lighter;
				}
				.required {
					color: $gold;
				}
				.woocommerce-input-wrapper {
					display: block;
					width: 100%;
				}
			}
			.woocommerce-billing-fields {
				h3 {
				    color: $grey;
				    font-size: 1.25em;
				    font-weight: lighter;
				}
			}
			.select2-selection {
				min-height: 38px;
			}
			.select2-selection__rendered {
				min-height: 38px;
				padding: .25em .5em;
				
				color: $grey;
				font-weight: lighter;
			}
			.select2 {
				margin-top: .5em;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.checkout {
		.woocommerce {
			.woocommerce-checkout {
				.col-sm-7 {
					flex: 0 0 100%;
					max-width: 100%;
				}
				.form-row {
					float: left;
					clear: none;

					width: 50%;
					&:nth-of-type(odd) {
						padding-right: $spacing;
					}
					&:nth-of-type(even) {
						padding-left: $spacing;
					}
				}
				#billing_address_1_field {
					clear: both;
				}
				#billing_address_2_field {
					margin-top: calc(48px + .5em);
					float: right;
				}
				#billing_city_field {
					clear: both;
				}
			}
		}
	}
}