.featured-products {
	.slick-track, .slick-list {
		overflow: auto;
	}
	@at-root #{&}__carousel {
		max-width: 100vw;
		overflow: hidden;
	}
	.slide-item {
		display: block;
	}
	@at-root #{&}__text {
		margin: 0 auto;
		max-width: 300px;
		text-align: center;
	}
	@at-root #{&}__text {
		overflow: hidden;
	}
	.slick-link {
		float: left;
		display: block;
		height: 100%;
		overflow: hidden;
	}
}