.featured-products {
	.slick-track, .slick-list {
		overflow: hidden;
	}
	.slick-slide {
		img {
			max-width: 100%;
		}
	}
	@at-root #{&}__carousel {
		max-width: 100vw;
		overflow: hidden;
	}
	.slide-item {
		display: block;
	}
	@at-root #{&}__text {
		margin: 0 auto;
		max-width: 300px;
		text-align: center;
	}
	@at-root #{&}__text {
		overflow: hidden;
	}
	.slick-link {
		float: left;
		display: block;
		overflow: hidden;
	}
}

@include media-breakpoint-up(sm) {
	.featured-products {
		.slick-slide {
			height: 200px;
			img {
				height: 100%;
				margin: 0 auto;
				max-width: 90%;
				object-fit: cover;
			}
		}
	}
}