button {
	background-color: transparent;
	border: none;
}

a {
	color: $black;
	&:hover {
		text-decoration: none;
	}
}

.fa {
	font-size: 1.5em;
}


.section__header {
	border-top: 2px solid $black;
	border-bottom: 2px solid $black;
	margin-bottom: $spacing / 2;
	padding: $spacing 0;

	text-align: center;
}

.gold {
	color: $gold;
}

.separator {
	display: inline-block;

	padding: 0 $spacing / 2;

	font-size: 1.25em;
}

/* remember to define focus styles! */
*:focus {
	outline: none !important;
  	-webkit-box-shadow: none !important;
  	box-shadow: none !important;
}

@include media-breakpoint-up(md) {
	.section__header {
		position: relative;

		border-top: none;
		border-bottom: none;
		margin: $spacing 0 $spacing * 2;
		padding: 0;

		&::before, &::after {
			display: block;
			content: '';
			position: absolute;
			top: 20px;

			height: 2px;
			width: 35%;

			background-color: $black;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
}