// Fonts
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

html, body {
	overflow-x: hidden;
	width: 100vw;
}

body {
	min-height: 100vh;
}

button {
	background-color: transparent;
	border: none;
}

a {
	color: $black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;

	transition: transform .25s ease-in-out;
	transform: scale(1);

	&:hover {
		text-decoration: none;
	}
}

.btn {
	border-radius: 0;
	transition: transform .25s ease-in-out;
	transform: scale(1);
	&:hover {
		transition: transform .25s ease-in-out;
		transform: scale(1.025);
	}
}

p, label, span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
}

button {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
	cursor: pointer;
}

input, textarea {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	&.form-control:focus {
		border-color: $gold;
	}
}

.fa {
	font-size: 1.5em;
}

#page-wrapper, #woocommerce-wrapper {
	padding-top: 0;
}

.section__header {
	border-bottom: 2px solid $black;
	margin-bottom: $spacing / 2;
	padding: $spacing 0;

	font-family: 'Marck Script', cursive;
	font-size: 2em;
	text-align: center;
}

.gold {
	color: $gold;
	&:hover {
		color: $gold;
	}
}

.separator {
	display: inline-block;

	padding: 0 $spacing / 2;

	font-size: 1.25em;
}

/* remember to define focus styles! */
*:focus {
	outline: none !important;
  	-webkit-box-shadow: none !important;
  	box-shadow: none !important;
}

@include media-breakpoint-up(md) {
	.section__header {
		position: relative;

		border-top: none;
		border-bottom: none;
		margin: $spacing 0 $spacing * 2;
		padding: 0;

		&::before, &::after {
			display: block;
			content: '';
			position: absolute;
			top: 20px;

			height: 2px;
			width: 35%;

			background-color: $black;
		}
		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
}

@media (max-width: 575.98px) {
	.product-page {
		.site-main {
			padding: $spacing;
			width: 100%;
		}
	}
}
