.header-top {
	text-align: center;

	padding: $spacing 0;
	p {
		margin: $spacing / 2;
	}
	@at-root #{&}__user-info {
		display: flow-root;
	}
	@at-root #{&}__cart {
		margin-top: .5em;
		font-size: 1.25em;
		&:hover {
			color: $checkout_pink;
		}
	}
	@at-root #{&}__cart--items {
		position: relative;
		top: .5em;
		color: $success;
		&:hover {
			color: $success;
		}
	}
	@at-root #{&}__item-count {
		display: block;
		position: absolute;
		top: -1.75em;
		right: -1.75em;

		height: 25px;
		width: 25px;

		background-color: $success;
		border-radius: 100%;

		color: $white;
		font-size: .6em;
		line-height: 2.1em;
		text-align: center;
	}
}

.header-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		max-width: 125px;
	}
}

.navbar {
	width: 100%;
}
.navbar-nav {
	width: 100%;
	.nav-link {
		display: block;

		width: 100%;

		color: $black;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		text-align: center;
		transition: transform .25s ease-in-out;
		transform: scale(1);
		text-transform: uppercase;
		text-align: center;
		&:hover {
			transition: all .25s ease-in-out;
			transform: scale(1.2);
		}
	}
}

.navbar-toggler {
	color: $black;
}

.woocommerce-breadcrumb {
	display: none;
}

@include media-breakpoint-up(md) {
	.header-top {
		display: flex;
		justify-content: space-between;
		@at-root #{&}__log-in {
			position: relative;
			top: -5px;

			margin-right: $spacing;

			color: $black;
			font-weight: 300;
		}
		@at-root #{&}__cart--items {
			top: 0;
		}
		@at-root #{&}__cart {
			font-size: 1.25em;
			&.has-items {
				color: $success;
			}
		}
		@at-root #{&}__item-count {
			top: -1.1em;
			right: -1.1em;
		}
	}
	.header-logo {
		img {
			max-width: 200px;
		}
	}
	.navbar-nav {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 500px;
		padding: $spacing 0;
		width: 100%;
	}

}
