.woocommerce-message, .woocommerce-error {
	position: fixed;
	left: 2%;
	bottom: 0;
	z-index: 10000;

	background-color: $grey;
	border: none;
	padding: $spacing;
	width: 96%;

	opacity: 1;

	color: $white;
    font-size: .9em;
    font-weight: lighter;

	animation: popUp 6s;
    opacity: 0;
	a.button, a {
		display: inline-block;
		border: none;
		margin-left: $spacing;
		padding: 2px $spacing 0;

		color: $white;
	    font-size: .9em;
	    font-weight: lighter;
	    line-height: auto;
	    text-decoration: underline;

	    background-color: transparent;
	    &:hover {
	    	background-color: transparent;
	    }
	}
}

.woocommerce-error {
	background-color: $error;
    &::before {
    	display: none;
    }
    a {
    	float: right;
    	margin-left: 0;
    }
	animation: popUp 10s;
}

@keyframes popUp {
	0% {
    	display: block;
	    transform: translate3d(-125vw,0,0);
		opacity: 0;
	}
	15% {
	    transform: translate3d(0,0,0);
		opacity: 1;
	}
	80% {
		opacity: 1;
	    transform: translate3d(0,0,0);
	}
	100% {
		display: none;
		opacity: 0;
	    transform: translate3d(-125vw,0,0);
	}
}